*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body{
    background-image: url("https://resi.ze-robot.com/dl/mi/minimal-dark-coding-wallpaper-1366%C3%97768.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: overlay;

}

#home {
    min-height: 720px;
    min-width: 1280px;
}

#navbar {
    background: transparent;
    height: 80px;
    width: 100%;
    transition: .9s;
}

#navbar:hover{
    background: #202020;
}

.logo{
    color: white;
    font-size: 28px;
    line-height: 83px;
    padding: 0 50px;
    font-weight: bold;
}
#navbar ul{
    float: right;
    margin-right: 20px;
}


nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(168, 168, 168);
    font-size: 17px;
    text-transform: uppercase;
    transition: color .3s;
} 

a:active {
    color: aqua;
    
}

a:hover{
    color: aqua;
}

.heading {
    position: relative;
    top: 30px;
    padding: 30px;
}

.headingTop{
    color: aqua;
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 200;
}

.headingChange{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

span:before {
    content: "";
    animation: animate infinite 8s;
}

@keyframes animate {
    0%{
        content: "Blogs •";

    }
    20%{
        content: "Tuturials •";
        
    }
    40%{
        content: "Quizes •";
        

    }
    60%{
        content: "Projects •";
        
    }
    80%{
        content: "News •";
        
    }
    100%{
        content: "and More •";
        
    }
}

.programming {
    position: relative;
    top: 430px;
}


.programmingImg {
    max-width: 24%;
    height: auto;
    position: absolute;
    left: 100px;
    bottom: 100px;
    transition: .5s;
} 

.programmingText {
    font-size: 18px;
    font-style: italic;
    text-align-last: center;
    position: absolute;
    color: aqua;
    left: 110px;
    bottom: 250px;

    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;

}

.programming:hover .programmingImg {
    max-width: 30%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.2;
}

.programming:hover .programmingText {
    visibility: visible;
    opacity: 1;
}


.ml {
    position: relative;
    top: 430px;
}

.mlImg {
    max-width: 26%;
    height: auto;
    position: absolute;
    right: 110px;
    bottom: 130px;
    transition: .5s;
}

.mlText {
    font-size: 18px;
    font-style: italic;
    text-align-last: center;
    position: absolute;
    color: aqua;
    right: 80px;
    bottom: 220px;

    opacity: 0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;

}

.ml:hover .mlImg {
    max-width: 35%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.2;
}

.ml:hover .mlText {
    visibility: visible;
    opacity: 1;
}

#blogs {
    height: 720px;
    width: auto;
    background-color: rgb(223, 223, 223);
}

.blog-heading h3 {
    text-align: center; 
    padding: 20px;
    font-size: 45px;
    font-weight: bold;
}

.blog-content {
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 1200px;
    height: 540px;
    margin: 0 auto;
    padding: 20px;
}

.amazon-img {
    height: 320px;
    float: right;
    border: 3px solid black;
    border-radius: 4px;
}

.blog-top-text {
    font-size: 25px;
    text-decoration: underline;
}

.blog-content-text {
    padding: 10px;
    font-size: 25px;
    font-weight: 190;
}

#about {
    background: black;
    height: 720px;
    width: 1280px;
}

#about .footer-main {
    background: rgb(223, 223, 223);
    height: 300px;
    width: 1360px;
    position: absolute;
    top: 2000px;
}

.content-about .text {
    color: white;
    position: relative;
    font-size: 35px;
    text-align: center;
    padding: 40px;
    font-weight: 220;
    top: 50px;
    left: 15px;
}

.footer-main .text .links{
    font-size: 30px;
    text-align: center;
}

.footer-main .text .copyright {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.button {
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
  }
  
  #to-the-top {
    position: fixed;
    bottom: -4px;
    right: 10px;
  }